
.ul{
  list-style: none;
    display: flex;
    padding: 100px 10px ;
    justify-content:space-around;
}
body{
  background-image:url(../img/try3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
}
.img{
    width:40%;
    height: 100%;
    float:left;
    border-radius: 10px;
}

.ca{
    background: grey;
    box-sizing: border-box;
    border-radius: 5px ;
    box-shadow: 0 15px 50px black;
    color:yellow;
  height:225px;
  width:350px;
  padding:3%;
}
.gril{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 20px;
}

#logo{

    background-size:100% 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.cali{
    position: absolute;
    background:rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
    border-width:2px;
    border-style:ridge;
    border-color:white;
    width: 700px;
    height:500px;
    text-align: center;
    color:yellow;
    left: 50%;
    top: 600px;

}
.L{
    height:450px;
    width:350px;
    float: left;
    border-radius: 10px;
}

.div-categoryContainer{
  padding: 10px;
}
.Titre{
  text-align: center;
}


@media screen and (min-width: 0px) and (max-width: 850px) {
  .gril{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  }

}
@media screen and (min-width: 850px) and (max-width: 1250px){ 
  .gril{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;}

}
@media screen and (min-width: 1250px){
    .gril{
    display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  grid-gap: 20px;}

}
nav, article, aside, footer {
  background-color: white;
  padding: 0.8%;
}
nav {
  min-height: 40px;
  background-color:rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 10px;

  border: 1px solid rgba(219, 226, 226, 1);

}
nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 1.8rem;

  text-decoration: none;
  color: black;
}